@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
.header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent), url("../../../assets/coffee_image.png");
  background-size: cover;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.125rem;
}
.header__nav-logo {
  font-family: "Clicker Script", regular;
  font-size: 2.1875rem;
  color: #FFFFFF;
  margin-left: 5.8125rem;
}
.header__nav-link {
  font-family: "Playfair Display", serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  padding: 3.75rem;
}
.header__nav-auth {
  font-family: "Playfair Display", serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  padding: 2.1875rem;
}
.header__nav-button {
  font-family: "Playfair Display", serif;
  font-size: 0.875rem;
  color: #1E1E1E;
  border: none;
  border-radius: 24px;
  background-color: #F9C06A;
  width: 6.25rem;
  height: 3rem;
  cursor: pointer;
  margin-right: 5.8125rem;
}
.header__nav-button:hover {
  background-color: #FACD89;
  transition: 0.3s ease;
}
.header__hero {
  margin-left: 5.8125rem;
  padding-bottom: 5.9375rem;
  padding-top: 8.125rem;
}
.header__desc {
  display: flex;
  flex-direction: column;
}
.header__text--intro {
  font-family: "Playfair Display", serif;
  font-size: 1.375rem;
  color: #FFFFFF;
}
.header__accent {
  font-family: "Clicker Script", regular;
  font-size: 13.75rem;
  color: #FFFFFF;
}
.header__text {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  color: #FFFFFF;
  line-height: 2.125rem;
}
.header__button {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: #1E1E1E;
  border: none;
  border-radius: 24px;
  background-color: #F9C06A;
  width: 8.375rem;
  height: 3rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1.25rem;
}
.header__button:hover {
  background-color: #FACD89;
  transition: 0.3s ease;
}

.main__content {
  position: relative;
}
.main__promo {
  display: flex;
  flex-direction: row;
  margin-top: 9.375rem;
}
.main__promo-info {
  margin-right: 5.9375rem;
  margin-left: 5.8125rem;
}
.main__promo-desc {
  display: flex;
  flex-direction: column;
}
.main__promo-text--intro {
  font-family: "Playfair Display", serif;
  font-size: 3.375rem;
  color: #603809;
  font-weight: bold;
}
.main__promo-text {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  color: #707070;
  line-height: 2.125rem;
  margin-top: 1.8125rem;
}
.main__promo-button {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: #1E1E1E;
  border: none;
  border-radius: 24px;
  background-color: #F9C06A;
  width: 8.375rem;
  height: 3rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1.8125rem;
}
.main__promo-button:hover {
  background-color: #FACD89;
  transition: 0.3s ease;
}
.main__decoration--left {
  position: absolute;
  margin-top: -12.5rem;
}
.main__products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5.125rem;
}
.main__products-subtitle {
  font-family: "Playfair Display", serif;
  font-size: 3.375rem;
  color: #603809;
  font-weight: bold;
}
.main__products-desc {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  color: #707070;
  margin-top: 1rem;
}
.main__products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}
.main__decoration--right {
  position: absolute;
  margin-top: -5rem;
  right: 0;
  transform: scaleX(-1);
}
.main__advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5.125rem;
}
.main__advantages-subtitle {
  font-family: "Playfair Display", serif;
  font-size: 3.375rem;
  color: #603809;
  font-weight: bold;
}
.main__advantages-desc {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  color: #707070;
  margin-top: 1rem;
}
.main__advantages-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  margin-top: 2rem;
}
.main__advantages-slogan {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  color: #707070;
  margin-top: 2rem;
}
.main__advantages-cta {
  font-family: "Playfair Display", serif;
  font-size: 1.875rem;
  color: #603809;
  font-weight: bold;
}
.main__advantages-button {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: #1E1E1E;
  border: none;
  border-radius: 24px;
  background-color: #F9C06A;
  width: 8.375rem;
  height: 3rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1.5rem;
}
.main__advantages-button:hover {
  background-color: #FACD89;
  transition: 0.3s ease;
}

.product-card {
  background: #FFF9F1;
  border: 1px solid;
  border-color: #F9C06A;
  min-width: 0;
  width: 17.5rem;
  height: 22.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.product-card__title {
  font-family: "Playfair Display", serif;
  font-size: 1.375rem;
  color: #603809;
  font-weight: bold;
  margin-top: 0.875rem;
}
.product-card__composition {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: #1E1E1E;
  margin-top: 0.375rem;
}
.product-card__price {
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  color: #603809;
  font-weight: bold;
  margin-top: 0.375rem;
}
.product-card__button {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: #1E1E1E;
  border: none;
  border-radius: 24px;
  background-color: #F9C06A;
  width: 8.375rem;
  height: 3rem;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  bottom: -1.875rem;
}
.product-card__button:hover {
  background-color: #FACD89;
  transition: 0.3s ease;
}

.advantage-card {
  background: #FFF9F1;
  border: 1px solid;
  border-color: #F9C06A;
  width: 17.5rem;
  height: 17.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantage-card__icon {
  margin-top: 2.25rem;
}
.advantage-card__title {
  font-family: "Playfair Display", serif;
  font-size: 1.75rem;
  color: #603809;
  font-weight: bold;
  margin-top: 1.5625rem;
}
.advantage-card__desc {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  color: #707070;
  margin-top: 0.5rem;
  text-align: center;
}

.banner {
  background-image: url("../../../assets/bg_coffee.png");
  background-size: cover;
  background-color: #603809;
  background-blend-mode: soft-light;
  margin-top: 5.125rem;
  display: flex;
  flex-direction: row;
}
.banner__content {
  position: relative;
}
.banner__info {
  display: flex;
  flex-direction: column;
  margin-left: 5.8125rem;
}
.banner__title {
  font-family: "Playfair Display", serif;
  font-size: 3.375rem;
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 8.4375rem;
}
.banner__text {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  color: #FFFFFF;
  margin-top: 1.375rem;
  line-height: 2.125rem;
}
.banner__button {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: #1E1E1E;
  border: none;
  border-radius: 24px;
  background-color: #F9C06A;
  width: 8.375rem;
  height: 3rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1.375rem;
}
.banner__button:hover {
  background-color: #FACD89;
  transition: 0.3s ease;
}
.banner__decoration-cup {
  margin-left: 23.125rem;
  margin-top: 3.375rem;
  margin-bottom: 3.3125rem;
  z-index: 2;
}
.banner__decoration-beans {
  position: absolute;
  right: 0;
  margin-top: 1.4375rem;
  z-index: 1;
}

.feedback {
  margin-top: 5.125rem;
}
.feedback__content {
  position: relative;
}
.feedback__title, .feedback__desc {
  display: block;
  width: 100%;
  text-align: center;
}
.feedback__title {
  font-family: "Playfair Display", serif;
  font-size: 3.375rem;
  color: #603809;
  font-weight: bold;
}
.feedback__desc {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  color: #707070;
  margin-top: 1rem;
}
.feedback__card {
  background: #FFF9F1;
  border: 1px solid;
  border-color: #F9C06A;
  margin-top: 2.8125rem;
  margin-left: 12.0625rem;
  margin-right: 12.0625rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.feedback__quote {
  font-family: "Playfair Display", serif;
  font-size: 13.75rem;
  color: #603809;
  font-weight: bold;
  margin-left: 1.8125rem;
  position: absolute;
}
.feedback__text {
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  color: #707070;
  font-weight: 600;
  text-align: center;
  margin-top: 8.0625rem;
  line-height: 2.25rem;
}
.feedback__author {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: #603809;
  font-weight: bold;
  text-align: center;
  margin-top: 1.75rem;
}
.feedback__position {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  color: #707070;
  text-align: center;
  margin-top: 0.25rem;
  margin-bottom: 6.3125rem;
}
.feedback__image {
  position: absolute;
  bottom: -3.125rem;
  left: 31.875rem;
}
.feedback__button--left, .feedback__button--right {
  position: absolute;
  border: none;
  border-radius: 24px;
  background-color: #F9C06A;
  width: 5.125rem;
  height: 5.125rem;
  cursor: pointer;
}
.feedback__button--left:hover, .feedback__button--right:hover {
  background-color: #FACD89;
  transition: 0.3s ease;
}
.feedback__button--left {
  left: -3.125rem;
  bottom: 12.5rem;
}
.feedback__button--right {
  right: -3.125rem;
  bottom: 12.5rem;
}
.feedback__decoration--left {
  position: absolute;
  margin-top: -12.5rem;
  transform: scaleY(-1);
}
.feedback__decoration--right {
  position: absolute;
  right: 0;
  margin-top: -38.75rem;
  transform: scaleX(-1);
}

.contact-us {
  background-image: url("../../../assets/bg_coffee.png");
  background-size: cover;
  background-color: #603809;
  background-blend-mode: soft-light;
}
.contact-us__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5.125rem;
}
.contact-us__title {
  font-family: "Playfair Display", serif;
  font-size: 3.375rem;
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 5rem;
}
.contact-us__cta {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  color: #FFFFFF;
  line-height: 2.125rem;
  margin-top: 1rem;
}
.contact-us__form {
  display: flex;
  flex-direction: row;
  margin-top: 1.625rem;
  margin-bottom: 5rem;
}
.contact-us__input-wrapper {
  position: relative;
  width: 40.125rem;
  height: 4.125rem;
}
.contact-us__input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 1.625rem;
  font-size: 1.25rem;
}
.contact-us__input:focus ~ .contact-us__label, .contact-us__input:not(:placeholder-shown) ~ .contact-us__label {
  display: none;
}
.contact-us__label {
  position: absolute;
  left: 1.625rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  color: #707070;
}
.contact-us__button {
  border: none;
  width: 8.5625rem;
  height: 4.125rem;
  background-color: #F9C06A;
  font-family: "Playfair Display", serif;
  font-size: 1.375rem;
  color: #1E1E1E;
  font-weight: bold;
  cursor: pointer;
}
.contact-us__button:hover {
  transition: 0.3s ease;
  background-color: #FACD89;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
