@use '../variables' as var;
@use '../mixins' as mix;

.header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent),
                  url('../../../assets/coffee_image.png');
    background-size: cover;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: var.rem(34);
    }

    &__nav-logo {
        @include mix.text(var.$font-accent, var.rem(35), var.$main);
        margin-left: var.rem(93);
    }

    &__nav-link {
        @include mix.text(var.$font-main, var.rem(14), var.$main);
        padding: var.rem(60);
    }

    &__nav-auth {
        @include mix.text(var.$font-main, var.rem(14), var.$main);
        padding: var.rem(35);
    }

    &__nav-button {
        @include mix.button(
            var.$font-main, 
            var.rem(14), 
            var.$button-text-color, 
            var.$border-radius,
            var.$button-color, 
            var.rem(100), 
            var.rem(48),
            var.$button-hover);
        margin-right: var.rem(93);
    }

    &__hero {
        margin-left: var.rem(93);
        padding-bottom: var.rem(95);
        padding-top: var.rem(130);
    }

    &__desc {
        display: flex;
        flex-direction: column;
    }

    &__text--intro {
        @include mix.text(var.$font-main, var.rem(22), var.$main);
    }

    &__accent {
        @include mix.text(var.$font-accent, var.rem(220), var.$main);
    }

    &__text {
        @include mix.text(var.$font-main, var.$font-size, var.$main);
        line-height: var.rem(34);
    }

    &__button {
        @include mix.button(
            var.$font-main, 
            var.$button-font-size, 
            var.$button-text-color, 
            var.$border-radius,
            var.$button-color, 
            var.rem(134), 
            var.rem(48),
            var.$button-hover);
        font-weight: bold;
        margin-top: var.rem(20);
    }
}