@use '../variables' as var;
@use '../mixins' as mix;

.header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent),
                  url('../../../assets/coffee_image.png');
    background-size: cover;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 34px;
    }

    &__nav-logo {
        @include mix.text(var.$font-accent, 35px, var.$main);
        margin-left: 93px;
    }

    &__nav-link {
        @include mix.text(var.$font-main, 14px, var.$main);
        padding: 60px;
    }

    &__nav-auth {
        @include mix.text(var.$font-main, 14px, var.$main);
        padding: 35px;
    }

    &__nav-button {
        @include mix.button(
            var.$font-main, 
            14px, 
            #000, 
            var.$border-radius,
            var.$button-color, 
            100px, 
            48px,
            var.$button-hover);
        margin-right: 93px;
    }

    &__hero {
        margin-left: 93px;
        padding-bottom: 95px;
        padding-top: 130px;
    }

    &__desc {
        display: flex;
        flex-direction: column;
    }

    &__text--intro {
        @include mix.text(var.$font-main, 22px, var.$main);
    }

    &__accent {
        @include mix.text(var.$font-accent, 220px, var.$main);
    }

    &__text {
        @include mix.text(var.$font-main, var.$font-size, var.$main);
    }

    &__button {
        @include mix.button(
            var.$font-main, 
            16px, 
            #000, 
            var.$border-radius,
            var.$button-color, 
            134px, 
            48px,
            var.$button-hover);
        font-weight: bold;
        margin-top: 20px;
    }
}