@use 'variables';
@use 'mixins';

@use 'components/header';
@use 'components/main';
@use 'components/product-card';
@use 'components/advantage-card';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
